<h1>Movie Info</h1>
<p> Title : <%= @stories.title %></p>
<p> Link : <%= @stories.link %></p>
<p> Upvotes : <%= @stories.upvotes %></p>
<p> Category : <%= @stories.category %></p>


<%= link_to "Back", stories_path %>